.navbar-brand {
  font-family: "Roboto Mono", monospace;
  font-size: 45px;
}
.corner {
  font-family: "Lobster", cursive;
  color: darkorange !important;
}
.navbar-nav {
  margin-right: 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  gap: 20px;
}
.navbar {
  margin-bottom: 20px;
}

.title,
.episodes {
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
  font-weight: bolder;
}

hr {
  border: solid gainsboro 3px;
}
.title {
  text-align: left;
  font-size: 40px;
  margin-top: 20px;
}
.episodes {
  margin-top: 50px;
}
.description {
  text-align: justify;
}
.btn {
  margin-bottom: 10px;
}
video {
  margin-left: 115px;
}
#navigation_next,
#navigation_prev {
  margin-top: 10px;
  width: 150px;
}
#navigation_prev {
  margin-left: 200px;
}
#navigation_next {
  margin-left: 585px;
}

footer {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 45px;
  margin-top: 50px;
  text-align: center;
  background-color: grey;
}
a:hover {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 600px) {
  .btn {
    display: flex;
    margin-bottom: 10px;
  }
  video {
    display: block;
    margin: auto;
    width: 350px;
    height: 200px;
  }
  #navigation_next,
  #navigation_prev {
    display: none;
  }

  footer {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 45px;
    margin-top: 50px;
    text-align: center;
    background-color: grey;
  }
}
